*{
    margin: 0;
    padding: 0;
}
#warp{
    height: 100%;
    width: 100%;
}
textarea{
    border:0;
    outline: 0;
    text-align:center;
}
.warp-div{
    display: block;
    height: 200px;
    width: 500px;
    border: 1px solid blue;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
}
.my-button{
    display: block;
    background-color: blue;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.cover{
    position:absolute;
    left:0px;
    top:0px;
    background:rgba(0, 0, 0, 0.8);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=50);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/ 
    z-Index:999;  
}
.modal{
    position:absolute;
    width:500px;
    height:300px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#fff;
    cursor:pointer;
    z-index:9999; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.my-tiShi{
    height: 70px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px; 
    background-color: blue;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    line-height: 50px;
}
.my-pop-up-text{
    display: flex;
    height: 70%;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;  
    flex-direction: column;  
    border-bottom:1px dashed blue;
}
.my-pp{
    padding-left: 20px;
}
.my-p{
    height:100%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: red;
}
.my-div{
    height: 30%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.my-pop-up-yes{
    height: 40px;
    width: 90px;
    background-color:blue;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 10px;
}
.my-pop-up-yes:hover {
    background-color: blueviolet;
}





